<html>
    <head>
        <title>Anagame</title>
    <style>
.center {
  padding: 10px 0;
  margin: auto;
  width: 60%;
  text-align: center;
  
}
div {
     border: 3px solid #ffffff;
     margin-top: 30%;
     margin-bottom: 30%;
     margin-right: 1%;
     margin-left: 1%;
}
</style>
    </head>
    <body>
      <body style="background-color:#D6DBDF   ;" class="center">
          <div>
     <h1 class="Heading" style="color:#32a197 ;" >Welcome to Anagame!</h1>
        <p style="color:#32a197 ;"> Hit Start to begin.</p>
        <form method = "post" action = "/startgame">
            <form action="yourpage.com/sitepage" > 
            <input type="submit" value="Start" style="color:#32a197 ; width:10%; font-size:200%; "/>
        </form>
        </div>
    </body>
</html>
