<html>
    <head>
        <title>Anagame</title>
        <style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px 0;
  border: 3px solid #ffffff;
  text-align: center;
}
</style>
    </head>
    <body>
      <body style="background-color:#D6DBDF   ;" class="center">
     <h1 class="Heading" style="color:#32a197 ;">Welcome to Anagame!</h1>
        <p style="color:#32a197 ;"> Hit Start to begin.</p>
        <form method = "post" action = "/startgame">
            <form action="yourpage.com/sitepage" > 
            <input type="submit" value="Start" style="color:#32a197 ;"/>
        </form>
    </body>
</html>
