<html>
    <head>
        <title>Anagame</title>
        <style>
.center {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 3px solid #ffffff;
  padding: 10px;
}
</style>
    </head>
    <body>
      <body style="background-color:#D6DBDF   ;" class="center">
     <h1 class="Heading" style="color:#34495E ;">Welcome to Anagame!</h1>
        <p style="color:#34495E ;"> Hit Start to begin.</p>
        <form method = "post" action = "/startgame">
            <input type="text" name="username" placeholder="Enter a username" />
            <input type="submit" value="Start" style="color:#34495E ;"/>
        </form>
    </body>
</html>
