<html>
    <head>
        <title>Anagame</title>
        <style>
.center {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 3px solid #ffffff;
  padding: 10px;
}
</style>
    </head>
    <body>
      <body style="background-color:#D6DBDF   ;" class="center">
     <h1 class="Heading" style="color:#32a197 ;"> Yikes!</h1>
        <p style="color:#32a197 ;"> Game results: </p>
        <p>{{counter}}</p>
        <form method = "post" action = "/startgame">
            <form action="yourpage.com/sitepage" > 
            <input type="submit" value="Play Again" style="color:#32a197 ;"/>
    </body>
</html>